@import "tailwindcss";

@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish {
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

a.active {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
a.pending {
  color: blue;
}

.heroBackground {
  background: linear-gradient(
      180deg,
      rgba(15, 15, 15, 0) -27.727%,
      rgba(15, 15, 15, 0.8) 100%
    ),
    url("assets/C002-assets/banner-img-1.png");

    background-position: center;
}
