@import "tailwindcss";

@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish {
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

a.active {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
a.pending {
  color: blue;
}
